* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
}
.navbar li a {
    text-decoration: none;
    padding: 20px;
}